/* contact-info section  */

.policy-img{
    padding-left: 10%;
}

.team-heading{
    padding: .75rem;
}

#contact-info{
    overflow-x: hidden;
}

#first-table-entry{
    border-top: none;
}

/* queries */

@media only screen and (max-width: 1250px) and (min-width: 992px){

    .team-heading{
        font-size: 2rem;
    }

    h2{
        font-size:1.75rem;
    }

    h3{
        font-size: 1.5rem;
    }

    .policy-img img{
        width:75%;
    }

}

@media only screen and (max-width: 991px){

    .delete{
        display:none;
    }
    
}

@media only screen and (max-width: 600px){

    .team-heading{
        font-size: 2rem;
    }

    h2{
        font-size:1.5rem;
    }

    h3{
        font-size: 1.25rem;
    }

}

@media only screen and (max-width: 370px){

    .team-heading{
        font-size: 1.7rem;
    }

    h2{
        font-size:1.25rem;
    }

    h3{
        font-size: 1.10rem;
    }

}
