#brand{
    margin-bottom: 5%;
}

.brady{
    width: 100%;
    margin-bottom: 3%;
}

#product-table{
    padding-top: 1%;
    padding: 0%;
}
/* queries */

@media only screen and (max-width: 856px){
    #brand{
        width:50%;
    }

    #product-table{
        padding-top: 1%;
        padding: 7%;
    }

    .brady{
        width: 75%;
        margin-left: 13%;
    }
}

@media only screen and (max-width: 373px){
    #brand{
        width:75% !important;
    }

    .brady{
        width: 100% !important;
    }
}