h1{
    font-size: 3.5rem;
    font-weight: 700;
}

/* info section */

#info{
    padding:7%;
    font-size:1.5rem;
    background-color: #efefef;
}

/* product table section */

#product-table{
    padding:7%;
    text-align: center;
}

/* queries */

@media only screen and (max-width: 1300px){
    h1{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 856px){
    table, thead, tbody, th, td, tr {
        display: block;
    }

    #info{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 635px){
    h1{
        font-size: 1.7rem;
    }

    #info{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 500px){
    h1{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 350px){
    .product{
        width: 50%;
    }
}

