/* styling for horizontal rule for second header design  */

/* hr{
    border-top: 1px dashed #666666;
} */

/* ---------------------------------------------------------------------------- NEW SECTION --------------------------------------------------------------------------------------------------- */

/* positions */

.centered{
    text-align: center;
}

/* ---------------------------------------------------------------------------- NEW SECTION --------------------------------------------------------------------------------------------------- */

/* headings */

.big-heading{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3%;
    text-align: center;
}

/* ---------------------------------------------------------------------------- NEW SECTION --------------------------------------------------------------------------------------------------- */

/* font sizes */

.bold{
    font-weight: 700;
}

/* ---------------------------------------------------------------------------- NEW SECTION --------------------------------------------------------------------------------------------------- */

/* carousel section */

.carousel-img{
    width: 100%;
}

/* making photos look opaque in order for the buttons to be more visible  */

/* .carousel-inner{
    opacity:0.8;
} */

/* makes both buttons look the same regardles of which one is being hovered or pressed and makes the buttons clearer than the carousel image in order to make them visible for the user  */

/* .carousel-control-prev, .carousel-control-next,
.carousel-control-prev:focus, .carousel-control-next:focus,
.carousel-control-prev:hover, .carousel-control-next:hover{
    opacity:1;
    color:#0a043c;
} */

/* positions of carousel buttons */

/* .carousel-control-span-left{
    margin-right: 30%;

}

.carousel-control-span-right{
    margin-left: 30%;
} */

/* deletes space between carousels and the left and rigth margin of the page  */

#carousels .container-fluid{
    padding: 0;
}

/* eliminates horizontal scrollbar for smaller screen devices  */

#carousels{
    overflow-x: hidden;
}

/* size of carousel buttons  */

/* a .far{
    font-size: 7em;
}  */

/* ---------------------------------------------------------------------------- NEW SECTION --------------------------------------------------------------------------------------------------- */

/* about section */

* {
    box-sizing: border-box;
 }

.company-description{
    font-size: 1.2rem;
    margin-bottom: 3%;
    
}

#about{
    background-color: #efefef;
}

#about .container-fluid{
    padding: 7%;
}

.specialRow{
    height: 20%;
}

.distributor {
    float: left;
    width: 12.2%;
    padding: 5px;
    text-align: center;
  }

  .specialD {
    float: left;
    width: 31%;
    height: 25%;
    padding: 5px;
    margin: 6px;
    text-align: center;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  
  .item1 {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  

/* ---------------------------------------------------------------------------- NEW SECTION --------------------------------------------------------------------------------------------------- */

/* policy section */

.policy-img{
    margin-bottom: 5%;
    width: 15%;
}

.card{
    border: none;
}

#policy .card-title,
#policy .card-text{
    text-align: left;
}

#policy .container-fluid{
    padding: 7%;
}

/* ---------------------------------------------------------------------------- NEW SECTION --------------------------------------------------------------------------------------------------- */

/* contact-form section */

#contact-form{
    background-color: #efefef;
}

#contact-form .container-fluid{
    padding: 7%;
}

/* styling for the message that appears after submitting contact form, it is only executed the first time the form is filled  */

#status{
    text-align: center;
    width:90%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.submitted{
    background-color: #61b15a;
    animation: status 4s ease forwards;
    color:#fff;
}

#status.error{
    background-color: #f05454;
    animation: status 4s ease forwards;
    color:#fff;
}

@keyframes status{
    0%{
        opacity:1;
        pointer-events:all;
    }

    90%{
        opacity:1;
        pointer-events:all;
    }

    100%{
        opacity:0;
        pointer-events:none;
    }
}

/* ---------------------------------------------------------------------------- NEW SECTION --------------------------------------------------------------------------------------------------- */

/* location section */

.location-card .card{
    background-color: #efefef;
    margin-top: 57px;
}

.location-caption{
    caption-side: top;
    text-align: center;
    color:#0D0359;
    padding:0;
}

.table td,
.table th{
    vertical-align: 0;
}

.partner-logo{
    width:100%;
    height: 100%;
    
}

.special-partner-logo{
    width:80%;
    
}

#location{
    padding:7%;
}

#map{
    height: 400px;
    width: 100%;
}

.table-responsive .table{
    text-align: center;
}

/* ---------------------------------------------------------------------------- NEW SECTION --------------------------------------------------------------------------------------------------- */

/* queries */

@media only screen and (max-width: 1300px){
    .big-heading{
        font-size: 3rem;
    }
}

@media only screen and (max-width: 1000px){

    /* carousel section */

    /* Size of Carousel buttons */
    /* a .far{
        font-size: 4em;
    } */

    /* policy section */

    .policy-img{
        width:35%;
    }

}

@media only screen and (max-width: 991px){

    /* location section */

    .location-card{
        margin:5%;
    }

    .location-card .card{
        margin-top: 0;
    }
}

@media only screen and (max-width: 775px){
    .big-heading{
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 767px){

    /* makes the third and forth carousel dissapear */
    .delete{
        display: none;
    }

    /* width change so both carousels appear side by side instead of each on a single row */
    .pv-carousel,
    .chp-carousel{
        width: 50%;
    }
}

@media only screen and (max-width: 637px){
    .big-heading{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 576px){

    /* headings */

    .big-heading{
        font-size: 1.5rem;
    }

    /* header section */

    .logo{
        width:60%;
    }

    /* hr{
        display: none;
    }

    .col .centred{
        display: none;
    } */

    .dropdown-item{
        padding:3%;
    }

    /* carousel section */

    /* a .far{
        font-size: 2em; Size of Carousel buttons 
    } */

    /* about section */

    .company-description{
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .policy-img{
        width:50%;
    }

    /* location section */

    .partner-logo{
        width:100%;
        height: 100%;
    }
    
    .partner-logo-ge{
        width:80%;
        height: 80%;
    }

    .special-partner-logo{
        width:100%;
        height: 100%;
    }

}

@media only screen and (max-width: 509px){
    .big-heading{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 306px){
    .big-heading{
        font-size: 1.2rem;
    }
}
